/* Nav Section */

.custom-nav-container {
  padding: 0;
}

.custom-nav-container .navbar-nav {
  margin-left: auto;
}

.custom-nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #f2f2f2;
  transition: all 0.3s;
  font-size: 22px;
}

.custom-nav-container .navbar-nav .nav-item:hover .nav-link,
.custom-nav-container .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
}

.custom-nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom-nav-container .navbar-toggler {
  outline: none;
}

.custom-nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}

.custom-nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom-nav-container .navbar-toggler span::before,
.custom-nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom-nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom-nav-container .navbar-toggler[aria-expanded="true"] {
  transform: rotate(360deg);
}

.custom-nav-container .navbar-toggler[aria-expanded="true"] span {
  transform: rotate(45deg);
}

.custom-nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom-nav-container .navbar-toggler[aria-expanded="true"] span::after {
  transform: rotate(90deg);
  top: 0;
}

.navbar-fixed-top.scrolled {
  background-color: #141414 !important;
  opacity: 95%;
}

.btn.btn-primary {
  background-color: #f2f2f2;
  color: black;
  padding: 10px 30px;
  border-radius: 100px;
  text-decoration: none;
  border: none;
}

.btn.btn-primary:hover {
  background-color: #ffffff;
  color: black;
  padding: 10px 30px;
  border-radius: 100px;
  text-decoration: none;
}

/* Hero section */

.hero-main {
  background: linear-gradient(rgba(193, 184, 144, 0.9), rgba(15, 23, 43, 0.9)),
    url(../images/hero-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-main img {
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
  100% {
    transform: rotate3d(2, -1, -1, -0.2turn);
  }
}

/* Media query section */

@media (min-width: 992px) {

  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(69, 86, 102) 0%,
      rgb(34, 34, 34) 90%
    ) !important;
    opacity: 95%;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(69, 86, 102) 0%,
      rgb(34, 34, 34) 90%
    ) !important;
  }
}


@media (min-width: 768px) { 
  
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(69, 86, 102) 0%,
      rgb(34, 34, 34) 90%
    ) !important;
    opacity: 95%;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(69, 86, 102) 0%,
      rgb(34, 34, 34) 90%
    ) !important;
  }


}


@media (max-width: 768px) { 
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(69, 86, 102) 0%,
      rgb(34, 34, 34) 90%
    ) !important;
    opacity: 95%;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(69, 86, 102) 0%,
      rgb(34, 34, 34) 90%
    ) !important;
  }

 }
